<div class="copyright">
    <p class="pull-left sm-pull-reset">
      <span>Copyright <span class="copyright">©</span> 2025 </span>
      <span>Badan Perencanaan Pembangunan Daerah Kota Semarang</span>.
    </p>
</div>