<% include ../../template-backoffice/header.ejs %>
<% let rooturl = ''; %>


<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Tambah Data Basic</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="<%= rooturl %>/backoffice">Dashboard</a></li>
        <li><a href="<%= rooturl %>/manajemen_basic">Data</a></li>
        <li class="active">Tambah Data</li>
      </ol>
    </div>
  </div>

  <% include ./komponen.ejs %>
  
  <div class="footer">
    <% include ../../template-backoffice/copyright.ejs %>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>
<script type="text/javascript">
  var rooturl = ''

  async function submit() {
    const will_insert = await swal({
      title: "Tambah Data",
      text: "Apakah anda akan menambahkan data ini?",
      icon: "warning",
      dangerMode: true,
      buttons: ["Tidak", "Ya"],
    });

    if ( will_insert) {
      $('#button_submit').empty()
      $('#button_submit').append('<button class="btn btn-primary btn-embossed" disabled>Simpan</button>')
      
      let formData = new FormData();    
      // nama kolom db
      let arr = ['NamaKolomDb1', 'NamaKolomDb2', 'NamaKolomDb3']
      for (let i = 0; i < arr.length; i++) {
        if (arr[i].substring(0,4)=='foto') {
          if ( $(`#`+arr[i])[0].files[0]){
            formData.append(arr[i], $(`#`+arr[i])[0].files[0]);
          } 
        }else if (arr[i].substring(0,3)=='ket'){        
          formData.append(arr[i] ,CKEDITOR.instances[arr[i]].getData())
        }else{
          formData.append(arr[i],$('#'+arr[i]).val())
        }
      }

      $.ajax({
        type: 'POST',
        enctype: 'multipart/form-data',
        url: rooturl+'/api_basic/insert',
        data: formData,
        processData: false,
        contentType: false,
        success: function(data) {
          swal({title:'Berhasil',text:'Data berhasil ditambahkan', icon: "success", buttons:false, type:'success'})
          window.location.href = rooturl+'/manajemen_basic';
        },error: function(data) {
          swal({title:'Gagal',text:'Data gagal ditambahkan', icon: "eror", type:'error'})
        }
      })      
    } 
  }

  // CKEDITOR.replace( 'keterangan', {
  //   toolbarGroups: [
  //     { name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
  //     { name: 'editing', groups: [ 'find', 'selection', 'spellchecker', 'editing' ] },
  //     { name: 'links', groups: [ 'links' ] },
  //     { name: 'insert', groups: [ 'insert' ] },
  //     { name: 'forms', groups: [ 'forms' ] },
  //     { name: 'tools', groups: [ 'tools' ] },
  //     { name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
  //     { name: 'others', groups: [ 'others' ] },
  //     '/',
  //     { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
  //     { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph' ] },
  //     { name: 'styles', groups: [ 'styles' ] },
  //     { name: 'colors', groups: [ 'colors' ] },
  //     { name: 'about', groups: [ 'about' ] }
  //   ],

  //   removeButtons: 'Underline,Subscript,Superscript,About,Image,Styles,Format',
  //   height: 310
  // });

</script>