<header class="shadow">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-xl-4">
          <div class="w-100-flex" style="height: 85px;justify-content: flex-start;align-items: center;background-color: ;">
            <img src="/images/template/logo_kota_semarang.png" alt="" style="height: 65px;">
            <div style="width: fit-content;height: 85px;display: flex;justify-content: center;align-items: flex-start;margin-left: 15px;flex-direction: column;">
              <h4 style="letter-spacing: 2px;"><strong>BAPPEDA</strong></h4>
              <h6><strong>KOTA SEMARANG</strong></h6>
            </div>
          </div>
        </div>

        <div class="col-lg-8 col-xl-8 ">
          <div class="w-100-flex" style="height: 85px;justify-content: center;align-items: flex-end;flex-direction: column;">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong><span id="username_login"></span></strong>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/autentifikasi/logout_depan">Log Out</a>
              </div>
            </div>

            <!-- <h6></h6> -->
          </div>
        </div>
        
      </div>
    </div>
</header>